@import "tailwindcss";


*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{

scroll-behavior:smooth;

}


body{

background:#050505;
color:white;
font-family:
"Inter",
sans-serif;

overflow-x:hidden;
padding: 0 1rem;

}

::-webkit-scrollbar{

width:8px;

}


::-webkit-scrollbar-thumb{

background:linear-gradient(
cyan,
purple
);

border-radius:20px;

}

.perspective{

perspective:1000px;

}

.card-glow{

position:relative;

}


.card-glow::before{

content:"";

position:absolute;

inset:-2px;

background:
linear-gradient(
45deg,
cyan,
purple,
pink
);

z-index:-1;

filter:blur(20px);

opacity:.4;

}
